﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<%=form_for(@chit) do |f| %>
 <p>
  <%=f.label:serial, "số phiếu" %><br />
  <%=f.number_field:serial %>
 </p>
 
 <p>
  <%=f.label:name, "tên người tạo phiếu" %><br />
  <%=f.text_field:name %>
 </p>
 
 <p>
  <%=f.label:address, "địa chỉ" %><br />
  <%=f.text_field:address %>
 </p>
 
 <p>
  <%=f.label:reason, "lý do nộp" %><br />
  <%=f.text_field:reason %>
 </p>
 
 <p>
  <%=f.label:payment, "số tiền" %><br />
  <%=f.number_field:payment %>
 </p>
 
 <p>
  <%=f.label:day, "ngày" %><br />
  <%=f.number_field:day %>
 </p>
 
 <p>
  <%=f.label:month, "tháng" %><br />
  <%=f.number_field:month %>
 </p>
 
 <p>
  <%=f.label:year, "năm" %><br />
  <%=f.number_field:year %>
 </p>
 
 <p>
  <%=f.label:ability, "nguồn kinh phí" %><br />
  <%=f.text_field:ability %>
 </p>
 
 <p>
  <%=f.label:dean, "chủ nhiệm khoa" %><br />
  <%=f.text_field:dean %>
 </p>
 
 <p>
  <%=f.label:tabolator, "người lập phiếu" %><br />
  <%=f.text_field:tabolator %>
 </p>
 
 <p>
  <%=f.label:payer, "người nộp tiền" %><br />
  <%=f.text_field:payer %>
 </p>
 
 <p>
  <%=f.label:cashier, "thủ quỹ" %><br />
  <%=f.text_field:cashier %>
 </p>
 <% if @chit.new_record? %>
 
 <%=f.submit "tạo phiếu" %>
 <% else %>
 
 <%=f.submit "cập nhật phiếu chi" %>
 <% end %>
<% end %>
