﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<%=link_to "phiếu chi mới",new_chit_path %>
<!--%=link_to "Danh sách phiếu chi",chits_path %-->
<h2>Danh sách phiếu chi</h2>

<html>
<body>
<table width="1000px">
	<% @chits.each do |chit| %>
	<tr>

	    <td><%= chit.serial %></td>
		<td><li><%=link_to chit.name, chit %></li></td>
		<td><%= chit.reason %></td>
		<td><%= chit.payment %></td>
		<td><%= chit.day %></td>
		<td><%= chit.month %></td>
		<td><%= chit.year %></td>
		<td><%= chit.dean %></td>
		<td><%= chit.tabolator %></td>
		<td><%= chit.ability %></td>
		<td><%= chit.payer %></td>
		<td><%= chit.cashier %></td>
	</tr>
    <% end %>
</table>
<body>
</html>