﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!DOCTYPE html>
<html>
<head>
   
 <!-- <title><%= @title || "hovaten" %></title>-->
 <title>
  <% if content_for?(:title) %>
    <%= yield(:title) %>
  <% else %>
    PHIẾU CHI
  <% end %>
 </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
    <div class='flash' id='<%= key %>'>
      <%= value %>
    </div>
<% end %>
 
<%= yield %>

</body>
</html>